<!--el mapa principal-->
<div id="mapa1" class="principal-mapa"></div>

<!--el panel de layers y simbologia-->
<div id="panel1" class="principal-panel">
    <app-layerlist [json1]="eljson1"></app-layerlist>
</div>

<!--el panel de arriba que sirve de encabezado-->
<div id="panel2" class="header-panel"></div>

<!--legend popup-->
<div id="legend-panel">
    <div class="legend-content">        
        <app-legend-item *ngFor="let legend of legends" [legend_item]="legend" class="legend-item"></app-legend-item>
    </div>
</div>