p{
    margin-block-start: .5rem;
    margin-block-end: .1rem;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

svg.single-color{
    width: 20px;
    height: 20px;
}

svg.single-color>rect{
    width: 20px;
    height: 20px;
}